<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dhog-chen"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;" size="medium">ྲ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">བྲ</p>
        <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
    <ion-card>
      <p class="big">དྲ</p>
      <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
    <ion-card>
      <p class="big">གྲ</p>
      <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col >
    <ion-card>
      <p class="big">ཧྲ</p>
      <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ཀྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">ཁྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">མྲ</p>
      <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ནྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">ཕྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">སྲ</p>
      <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ཏྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">ཐྲ</p>
    <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row>
</ion-content>

