<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dhog-chen"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ར་བཏགས་བཅུ་བཞི།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">ཀྲ</p>
        <ion-icon (click)=ka() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
    <ion-card>
      <p class="big">ཁྲ</p>
      <ion-icon (click)=kha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
    <ion-card>
      <p class="big">གྲ</p>
      <ion-icon (click)=ga() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col >
    <ion-card>
      <p class="big">ཏྲ</p>
      <ion-icon (click)=ta() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ཐྲ</p>
    <ion-icon (click)=tha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">དྲ</p>
    <ion-icon (click)=da() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">ནྲ</p>
      <ion-icon (click)=na() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">པྲ</p>
    <ion-icon (click)=pa() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">ཕྲ</p>
    <ion-icon (click)=pha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">བྲ</p>
      <ion-icon (click)=ba() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">མྲ</p>
    <ion-icon (click)=ma() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
  <ion-col >
  <ion-card>
    <p class="big">ཤྲ</p>
    <ion-icon (click)=shah() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <p class="big">སྲ</p>
        <ion-icon (click)=sa() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <p class="big">ཧྲ</p>
        <ion-icon (click)=ha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col>
  <ion-col>
    </ion-col>
  </ion-row>
</ion-content>

