<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">གྱངས་ཁ།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>༠</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon (click)="leykor()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/numbers/video/0.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>༡</p>
            </ion-col>

          </ion-row>

        </ion-card>

        <ion-icon (click)="chi()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/numbers/video/1.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>༢</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon (click)="nge()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/numbers/video/2.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>

      </ion-grid>
    </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༣</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="suum()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/3.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide>
    <ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༤</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="zhi()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/4.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༥</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="nga()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/5.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༦</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="dhu()"name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/6.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༧</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="dhin()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/7.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༨</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="gay()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/8.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col>
            <p>༩</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon (click)="gu()" name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      <ion-card>
        <ion-row>
          <ion-col>
            <video width="auto" height="auto" loop autoplay>
              <source src="./assets/numbers/video/9.mp4" type="video/mp4">
            </video>
          </ion-col>

        </ion-row>

      </ion-card>
    </ion-grid>
  </ion-slide>
  </ion-slides>
</ion-content>
