<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">བྱ་རིགས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/birds/image/blacked_n_crane.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཁྲུང་ཁྲུང།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="blacked_n_crane()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/common_maya.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>རྒྱ་གར་བྱི་ཅུང་།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="common_maya()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/crow.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཨོ་ལ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="crow()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/cuckoo.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཁུ་བྱུག།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="cuckoo()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/dove.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཐི་ལི་རྒྱལམོ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="dove()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/duck.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>འདམ་བྱ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="duck()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/eagle.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཁྱ་རྒོད།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="eagle()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/hoopoe.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>འདྲེ་ཏོག་ཟེམ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="hoopoe()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/kalij.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ལེ་ཀོ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="kalij()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/owl.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>འུགཔ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="owl()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/peacock.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>རྨ་བྱ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="peacock()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/pigeon.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཕུ་ཀྲེ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="pigeon()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/swallow.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཆརཔ་བྱི།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="swallow()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/swan.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ངངཔ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="swan()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/thanka.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཐང་ཀེ་རལཔ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="thanka()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/vulture.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>བྱ་རྒོད།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="vulture()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>

        <ion-row>
          <ion-col>
            <img src="./assets/birds/image/water_bird.jpg">

          </ion-col>

        </ion-row>

      </ion-card>

      <ion-card>


        <ion-row>
          <ion-col>
            <p>ཆུ་བྱ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="water_bird()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide>
  </ion-slides>
</ion-content>

