<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col style="color: #95e52e"></ion-col>
      <ion-col style="background-color: #95e52e;border-radius: 10px;color: white">
        Level 1
      </ion-col>
      <ion-col style="color: #95e52e"> M:0</ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >
  <ion-slides pager="true">
    <ion-slide>
    <ion-grid>
      <ion-card style="background-color: rgba(149,229,46,0.4)">
        <ion-row>
          <ion-col>
            <ion-card-header style="font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༡</ion-card-header>
            <ion-card-content>ཁཕཏུ་ཏཁཕཏུ་ཁུཏཕཁ་མཏམད་ཏབམཁཏ་ཏམདབལཏམ་ཏམབདཏལམད་ཏདབཏམདབ་ཏམདཏམད།</ion-card-content>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-header style="font-weight: bold;font-size: 17px">Q1</ion-card-header>
            <ion-card-content>Hello world Hello world Hello world Hello world Hello world </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
        <ion-list lines="none">
          <ion-radio-group value="grape">
            <ion-list-header>
            </ion-list-header>
            <ion-card>
              <ion-item>
                <ion-label>Option 1</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 2</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 3</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 4</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card>
          </ion-radio-group>
        </ion-list>

    </ion-grid>
    </ion-slide>
    <ion-slide>
    <ion-grid>
      <ion-card style="background-color: rgba(149,229,46,0.4)">
        <ion-row>
          <ion-col>
            <ion-card-header style="font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༢</ion-card-header>
            <ion-card-content>ཁཕཏུ་ཏཁཕཏུ་ཁུཏཕཁ་མཏམད་ཏབམཁཏ་ཏམདབལཏམ་ཏམབདཏལམད་ཏདབཏམདབ་ཏམདཏམད།</ion-card-content>
          </ion-col>
        </ion-row><ion-row>
          <ion-col>
            <ion-card-header style="font-weight: bold;font-size: 17px">Q2</ion-card-header>
            <ion-card-content>Hello world this is krishna. Hello world this is krishna.</ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>

        <ion-list lines="none">
          <ion-radio-group value="grape">
            <ion-list-header>
            </ion-list-header>
            <ion-card>
              <ion-item>
                <ion-label>Option 1</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 2</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 3</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label>Option 4</ion-label>
                <ion-radio slot="start"></ion-radio>
              </ion-item>
            </ion-card>
          </ion-radio-group>
        </ion-list>

    </ion-grid>
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>
