<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;" size="medium">འདོགས་ཅན་བཞི།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" style="position:relative">
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ླ</p>
          <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

          <a  href="/la-ta" style="text-decoration: none"> <p >དཔེར་བརྗོད།</p></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ྲ</p>
          <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

          <a  href="/ra-ta" style="text-decoration: none"> <p >དཔེར་བརྗོད།</p></a>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ྭ</p>
          <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

          <a  href="/wa-ta" style="text-decoration: none"><p >དཔེར་བརྗོད།</p></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ྱ</p>
          <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

          <a  href="/ya-ta" style="text-decoration: none"><p>དཔེར་བརྗོད།</p></a>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
