<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">འདོགས་ཅན་བཞི།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" style="position:relative">
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ླ</p>
          <ion-icon (click)="laTag()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a href="/la-ta"><ion-icon  name="book-outline" style="margin-left:10px;margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          </a>
          <a  style="text-decoration: none"> <p >ལ་བཏགས་དྲུག།</p></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ྲ</p>
          <ion-icon  (click)="raTag()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a href="/ra-ta"><ion-icon  name="book-outline" style="margin-left:10px;margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          </a>
          <a style="text-decoration: none"> <p>ར་བཏགས་བཅུ་གསུམ།</p></a>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ྭ</p>
          <ion-icon (click)="waTag()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a href="/wa-ta"><ion-icon  name="book-outline" style="margin-left:10px;margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          </a>
          <a   style="text-decoration: none"><p >ཝ་བཏགས་བཅུ་གསུམ།</p></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ྱ</p>

          <ion-icon (click)="yaTag()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a href="/ya-ta"><ion-icon  name="book-outline" style="margin-left:10px;margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          </a>
          <a style="text-decoration: none"><p>ཡ་བཏགས་བདུན།</p></a>

        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
