<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="go-chen"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ས་མགོ་བཅུ་གཅིག།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">སྐ་</p>
        <ion-icon (click)=ka() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
    <ion-card>
      <p class="big">སྒ་</p>
      <ion-icon (click)=ga() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
    <ion-card>
      <p class="big">སྔ་</p>
      <ion-icon (click)=nga() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
  <ion-col >
    <ion-card>
      <p class="big">སྙ་</p>
      <ion-icon (click)=nya() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">སྟ་</p>
    <ion-icon (click)=ta() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">སྡ་</p>
    <ion-icon (click)=da() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">སྣ་</p>
      <ion-icon (click)=na() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">སྤ་</p>
    <ion-icon (click)=pa() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">སྦ་</p>
    <ion-icon (click)=ba() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">སྨ་</p>
      <ion-icon (click)=ma() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">སྩ་</p>
    <ion-icon (click)=tsa() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row>
</ion-content>

