ion-card{
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
#container{
  justify-content: center;
}
ion-col{
  display: flex;
  text-align: center;
}
.big{
  color: black;
  font-size: 30px;
  font-family: 'DDC_Uchen';
}
p{
  font-family: 'DDC_Uchen';
  font-size: 15px;
  color: dodgerblue;
}
