
#container{
  justify-content: center;
}
ion-card{
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;

}
ion-col{
  display: flex;
  text-align: center;
}
.big{
  color: black;
  font-size: 40px;
  font-family: 'DDC_Uchen';
}


