<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dhog-chen"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཝ་བཏགས་བཅུ་གསུམ།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">ཀྭ</p>
        <ion-icon (click)=ka() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
    <ion-card>
      <p class="big">ཁྭ</p>
      <ion-icon (click)=kha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
    <ion-card>
      <p class="big">གྭ</p>
      <ion-icon (click)=ga() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">ཉྭ</p>
        <ion-icon (click)=nya() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
    <ion-card>
      <p class="big">དྭ</p>
      <ion-icon (click)=da() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
    <ion-card>
      <p class="big">ཙྭ</p>
      <ion-icon (click)=tsa() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
  </ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">ཚྭ</p>
      <ion-icon (click)=tsha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ཞྭ</p>
    <ion-icon (click)=zha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col><ion-col >
  <ion-card>
    <p class="big">ཟྭ</p>
    <ion-icon (click)=za() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
</ion-row><ion-row>
  <ion-col >
    <ion-card>
      <p class="big">རྭ</p>
      <ion-icon (click)=ra() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col><ion-col >
  <ion-card>
    <p class="big">ལྭ</p>
    <ion-icon (click)=la() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

  </ion-card>
</ion-col>
  <ion-col >
    <ion-card>
      <p class="big">ཤྭ</p>
      <ion-icon (click)=sha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

    </ion-card>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <p class="big">ཧྭ</p>
        <ion-icon (click)=ha() name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col>
    <ion-col>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-content>
