<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">གཟའ་བདུན།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>
          <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
          <ion-row>
            <ion-col>
              <p>Monday</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
        <ion-card>
          <div class="topleft" style="position: absolute; font-weight:bold;; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

          <ion-row>
            <ion-col>
              <p>མིག་དམར</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="monday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Tuesday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>ལྷགཔ།</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="tuesday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Wednesday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>ཕུརཔ</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="wednesday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Thursday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>པ་སངས</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="thursday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Friday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>སྤེནཔ</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="friday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Saturday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>ཉིམ</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="saturday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide><ion-slide>
    <ion-grid>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue">English</div>
        <ion-row>
          <ion-col>


            <p>Sunday</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <ion-icon name="swap-vertical-outline" style="font-size: 30px;color: dodgerblue"></ion-icon>
      <ion-card>
        <div class="topleft" style="position: absolute; font-weight:bold;;top: 8px;left: 16px;color: dodgerblue;font-family: DDC_Uchen">རྫོང་ཁ།</div>

        <ion-row>
          <ion-col>
            <p>ཟླཝ</p>
          </ion-col>

        </ion-row>
        <ion-icon (click)="sunday()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-grid>
  </ion-slide>
  </ion-slides>
</ion-content>
