<ion-header [translucent]="true">
  <ion-toolbar style="background-color: white">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;" size="small">
      གསལ་བྱེད་གསུམ་བཅུ།
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཀ་</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཀ་</p>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཁ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ག་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ང་།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཅ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཆ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཇ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཉ།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཏ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཐ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ད་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ན།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>པ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཕ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>བ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>མ།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཙ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཚ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཛ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཝ།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཞ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཟ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཡ།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ར་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ལ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཤ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ས།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཧ་</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide> <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཨ།</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
