<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཟས་རིགས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/biscuits.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
        
          <ion-row>
            <ion-col>
              <p>ཁབ་ཟས།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="biscuits()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/curry.jpg">
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཚོདམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="curry()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/egg.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྒོང་རྡོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="egg()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/kapta.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཀེབ་ཏ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="kapta()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/momo.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>མོ་མོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="momo()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/paa.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྤགས།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="paa()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/pickle.jpg">
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཨེ་རྫས།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="pickle()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/rice.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ལྟོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rice()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/salad.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཧོ་སྒྱེས།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="salad()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/seb.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྲིབ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="seb()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/sweets.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>མངར་ཟས།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="sweets()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/foods/image/zaw.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>འཛརཝ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="zaw()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

