<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">
      རིག་བསྡུར
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="color:dodgerblue;" size="medium">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="position:relative">
    <ion-row>
      <ion-col >
        <ion-card style="background-color:#95e52e">
          <ion-card-content>
            <ion-icon name="lock-open-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 1</p>
            <p>Unlocked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:#95e52e">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 2</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:#95e52e">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 3</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:#95e52e">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 4</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:#95e52e">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 5</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:#f4f400">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 6</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:#f4f400">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 7</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:#f4f400">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 8</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:#f4f400">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 9</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:#f4f400">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 10</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:dodgerblue">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 11</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:dodgerblue">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 12</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
      <ion-col >
        <ion-card style="background-color:dodgerblue">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 13</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:dodgerblue">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 14</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:dodgerblue">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 15</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:red">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 16</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card style="background-color:red">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 17</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:red">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 18</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row><ion-row>
      <ion-col >
        <ion-card style="background-color:red">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 19</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card style="background-color:red">
          <ion-card-content>
            <ion-icon name="lock-closed-outline" style="color: white; font-size: 50px"></ion-icon>
            <p>Level 20</p>
            <p>Locked</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
