<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color:dodgerblue;" size="medium">
      རིག་བསྡུར
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="color:dodgerblue;" size="medium">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">

    </ion-col>
    <ion-col>


      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="success" size="largex">
        ༡
      </ion-button>

    </ion-col>

    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="success">
        ༢
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="success">
        ༣
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="success">
        ༤
      </ion-button>
    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="success">
        ༥
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="primary">
        ༦
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col >

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="primary">
        ༧
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="primary">
        ༨
      </ion-button>
    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="primary">
        ༩
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="primary">
        ༡༠
      </ion-button>
    </ion-col>
  </ion-row><ion-row>
  <ion-col>

  </ion-col>
  <ion-col>
    <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="warning">
      ༡༡
    </ion-button>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="warning">
        ༡༢
      </ion-button>
    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
    <ion-row>
    <ion-col>

    </ion-col>
    <ion-col>

      <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="warning">
        ༡༣
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="warning">
          ༡༤
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col >

        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="warning">
          ༡༥
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="danger">
          ༡༦
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="danger">
          ༡༧
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="danger">
          ༡༨
        </ion-button>
      </ion-col>
    </ion-row><ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="danger">
          ༡༩
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col>
        <ion-button shape="round" style="font-family: 'DDC_Uchen';font-size: 20px"  color="danger">
          ༢༠
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>


</ion-content>
