<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="dhog-chen"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ལ་བཏགས་དྲུག།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col >
      <ion-card>
        <p class="big">ཀླ</p>
        <ion-icon (click)="ka()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
      <ion-card>
        <p class="big">གླ</p>
        <ion-icon (click)="ga()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
      <ion-card>
        <p class="big">བླ</p>
        <ion-icon (click)="ba()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col>
  </ion-row><ion-row>
    <ion-col >
      <ion-card>
        <p class="big">ཟླ</p>
        <ion-icon (click)="za()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
      <ion-card>
        <p class="big">རླ</p>
        <ion-icon (click)="ra()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col><ion-col >
      <ion-card>
        <p class="big">སླ</p>
        <ion-icon (click)="sa()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
