<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">
      རྫོང་ཁ་ལྷབ།
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="color:dodgerblue;" size="medium">Learn Dzongkha</ion-title>
    </ion-toolbar>
  </ion-header>
<br>
  <div id="container" style="position:relative">
    <ion-row>
      <ion-col >
        <ion-card routerLink="/learn">
          <img src="./assets/levels/alphabets.png">

          <ion-card-content>
            <p >གསལ་བྱེད་གསུམ་བཅུ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/yang-zhi">
          <img src="./assets/levels/vowels.png">

          <ion-card-content>
            <p >དབྱངས་བཞི།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/dhog-chen">

          <img src="./assets/levels/subscript.png">

          <ion-card-content>
            <p >འདོགས་ཅན་བཞི།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/jang-kha">
          <img src="./assets/levels/numbers.png">

          <ion-card-content>
            <p >གྱངས་ཁ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/go-chen">
          <img src="./assets/levels/superscript.png">

          <ion-card-content>
            <p >མགོ་ཅན་གསུམ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/za-dhuen">
          <img src="./assets/levels/week.png">

          <ion-card-content>
            <p >གཟའ་བདུན།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/colours">
          <img src="./assets/levels/color.png">

          <ion-card-content>
            <p >ཚོས་གཞི།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card>
          <img src="./assets/levels/body.png">

          <ion-card-content>
            <p >གཟུགས་ཀྱི་ཆ་ཤས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/fruits">
          <img src="./assets/levels/fruits.png">

          <ion-card-content>
            <p >ཤིང་འབྲས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/vegetables">
          <img src="./assets/levels/veg.png">

          <ion-card-content>
            <p >ཚོད་བསྲེ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/d-animals">
          <img src="./assets/levels/danimals.png">

          <ion-card-content>
            <p >སྒོ་ནོར་སེམས་ཅན།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/w-animals">
          <img src="./assets/levels/wanimals.png">

          <ion-card-content>
            <p>རི་དྭགས་སེམས་ཅན།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/birds">
          <img src="./assets/levels/birds.png">
          <ion-card-content>
            <p >བྱ་རིགས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/m-animals">
          <img src="./assets/levels/oanimal.png">

          <ion-card-content>
            <p >སེམས་ཅན་སྣ་ཚོགས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/flowers">
          <img src="./assets/levels/flower.png">

          <ion-card-content>
            <p >མེ་ཏོག།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/utensils">
          <img src="./assets/levels/utensils.png">

          <ion-card-content>
            <p >ཐབ་ཆས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/foods">
          <img src="./assets/levels/foods.png">

          <ion-card-content>
            <p >ཟས་རིགས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card routerLink="/drinks">
          <img src="./assets/levels/drink.png">

          <ion-card-content>
            <p >འཐུང་ནིའི་རིགས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="./assets/levels/honorific.png">

          <ion-card-content>
            <p > ཞེ་ས་ཕལ་སྐ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>

        <ion-card>
          <img src="./assets/levels/verb.png">

          <ion-card-content>
            <p >  གཞི་རྟེན་བྱ་ཚིག</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
