<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">
      About App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="color:dodgerblue;" size="medium">About App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header><p>རིམ་ལུགས་ཀྱི་སྐོར། / About App</p></ion-card-header>
    <ion-card-content>ཨ་ལུའི་དོན་ལུ་རྫོང་ཁ་ཟེར་བའི་འགྲུལ་འཕྲིན་རིམ་ལུགས་འདི་གིས་ མཐོང་ཐོས་ཀྱི་སྒོ་ལས་ཨ་ལུ་ཚུ་ལུ་ རྫོང་ཁའི་ཡི་གུ་དང་ཨང་གྲངས། གཞི་རྟེན་མིང་ཚིག་ཚུ་ ཡིག་སྡེབ་དང་རྗོད་སྒྲ་སྦྲགས་ཏེ་ལྷབ་ཚུགསཔ་བཟོཝ་ཨིན། རིམ་ལུགས་འདི་ རྫོང་ཁ་གོང་འཕེལ་ལྷན་ཚོགས་ཀྱི་རྒྱབ་སྐྱོར་ཐོག་ འོག་ལུ་བཀོད་ཡོད་པའི་ ཚན་རིག་དང་འཕྲུལ་རིག་མཐོ་རིམ་སློབ་གྲྭའི་སློབ་འཕྲུག་ཚུ་གིས་བཟོ་ཡོདཔ་ཨིན།</ion-card-content>
    <ion-card-content>Dzongkha for kids mobile app uses audios, visuals, games and quizzes for kids to learn the Dzongkha alphabets, numbers and some basic Dzongkha words with correct spelling and pronunciation. The app was developed by following students of the College of Science and Technology with support from Dzongkha Development Commission.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><p>མི་མང་གི་དོན་ལུ་རིམ་ལུགས་བཟོ་མི། / Developers</p></ion-card-header>
    <ion-card-content>
      <p>ཀིརཤ་ན་ པར་སད་ ཤར་མ།</p>
      <p>ཀརྨ་ བསྟན་སལ།</p>
      <p>འཇིགས་མེད་ དབང་འདུས།</p>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>Krishna Prasad Sharma</p>
        </ion-col>
        <ion-col>
          <p><ion-icon name="call"></ion-icon> 17399843</p>
        </ion-col>
      </ion-row><ion-row>
        <ion-col>
          <p>Karma Tensel</p>
        </ion-col>
        <ion-col>
          <p><ion-icon name="call"></ion-icon> 17369837</p>
        </ion-col>
      </ion-row><ion-row>
        <ion-col>
          <p>Jigme Wangdi</p>
        </ion-col>
        <ion-col>
          <p><ion-icon name="call"></ion-icon> 17565377</p>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  <p style="text-align: center;color: lightgray">Copyright  @ Dzongkha Development Commission, 2021</p>
  <p style="text-align: center;color: lightgray;font-family: DDC_Uchen">པར་དབང། རྫོང་ཁ་གོང་འཕེལ་ལྷན་ཚོགས། ༢༠༢༡།</p>


</ion-content>
