<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col style="color: red"></ion-col>
      <ion-col style="background-color: red;border-radius: 10px;color: white">
        Level 10
      </ion-col>
      <ion-col style="color: red">Score:<span style="font-weight: bold">{{score}}</span></ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >
    <ion-slides>
      <ion-slide>
        <ion-grid>
          <ion-card style="background-color: rgba(251,0,0,0.57)">
              <ion-row>
                <ion-col>
                  <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༡</ion-card-header>
                  <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q1</ion-card-header>
                  <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
                </ion-col>
              </ion-row>
          </ion-card>
          <ion-icon (click)="cloth()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

          <ion-list lines="none">
            <ion-radio-group [(ngModel)]="answer">
              <ion-card>
                <ion-item>
                  <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">ཉན</ion-label>
                  <ion-radio slot="start" value="ཨ" ></ion-radio>
                </ion-item>
              </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">དབུ</ion-label>
                <ion-radio slot="start" value="ང" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ན་བཟའ</ion-label>
                <ion-radio slot="start" value="ཀ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་ཐོད</ion-label>
                <ion-radio slot="start" value="ལ" ></ion-radio>
              </ion-item>
            </ion-card>
            </ion-radio-group>
          </ion-list>
          <ion-button (click)="goToSlide()" shape="round">Confirm</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-card style="background-color: rgba(251,0,0,0.57)">
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༢</ion-card-header>
                <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q2</ion-card-header>
                <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-icon (click)="ear()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

          <ion-list lines="none">
            <ion-radio-group [(ngModel)]="answer">
              <ion-card>
                <ion-item>
                  <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">ན་བཟའ</ion-label>
                  <ion-radio slot="start" value="པ" ></ion-radio>
                </ion-item>
              </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">དབུ</ion-label>
                <ion-radio slot="start" value="ང" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཉན</ion-label>
                <ion-radio slot="start" value="ཨ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་ཐོད</ion-label>
                <ion-radio slot="start" value="ལ" ></ion-radio>
              </ion-item>
            </ion-card>
            </ion-radio-group>
          </ion-list>
          <ion-button (click)="goToSlide1()" shape="round">Confirm</ion-button>
        </ion-grid>
      </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༣</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q3</ion-card-header>
              <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="head()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">ན་བཟའ</ion-label>
                <ion-radio slot="start" value="པ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">དབུ</ion-label>
              <ion-radio slot="start" value="ོ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཉན</ion-label>
              <ion-radio slot="start" value="ཀ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཞལ</ion-label>
              <ion-radio slot="start" value="ལ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide2()" shape="round">Confirm</ion-button>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༤</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q4</ion-card-header>
              <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="leg()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">ཤངས</ion-label>
                <ion-radio slot="start" value="པ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">དབུ</ion-label>
              <ion-radio slot="start" value="ང" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཞབས</ion-label>
              <ion-radio slot="start" value="ི" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་ཐོད</ion-label>
              <ion-radio slot="start" value="ལ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide3()" shape="round">Confirm</ion-button>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༥</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q5</ion-card-header>
              <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="sit()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">བཞུགས</ion-label>
                <ion-radio slot="start" value="ར" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">དབུ</ion-label>
              <ion-radio slot="start" value="ང" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཚེམས</ion-label>
              <ion-radio slot="start" value="ཀ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་ཐོད</ion-label>
              <ion-radio slot="start" value="ལ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide4()" shape="round">Confirm</ion-button>
      </ion-grid>
    </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-card style="background-color: rgba(251,0,0,0.57)">
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༦</ion-card-header>
                <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་ཞེ་ས་ངོས་འཛིན་འབད།</ion-card-content>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q6</ion-card-header>
                <ion-card-content style="color: white;">Guess the honorific word based on the sound you hear below. </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-icon (click)="hand()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

          <ion-list lines="none">
            <ion-radio-group [(ngModel)]="answer">
              <ion-card>
                <ion-item>
                  <ion-label style="font-size: 20px;  font-family: DDC_Uchen;">ན་བཟའ</ion-label>
                  <ion-radio slot="start" value="པ" ></ion-radio>
                </ion-item>
              </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཞལ</ion-label>
                <ion-radio slot="start" value="ང" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཕྱག</ion-label>
                <ion-radio slot="start" value="ན" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">ཕྱག་མཐིལ</ion-label>
                <ion-radio slot="start" value="ལ" ></ion-radio>
              </ion-item>
            </ion-card>
            </ion-radio-group>
          </ion-list>
          <ion-button (click)="goToSlide5()" shape="round">Confirm</ion-button>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-card style="background-color: rgba(251,0,0,0.57)">
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༧</ion-card-header>
                <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་གཞི་རྟེན་བྱ་ཚིག་ངོས་འཛིན་འབད།</ion-card-content>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q7</ion-card-header>
                <ion-card-content style="color: white;">Guess the greeting word based on the sound you hear below. </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-icon (click)="thankyou()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

          <ion-list lines="none">
            <ion-radio-group [(ngModel)]="answer">
              <ion-card>
                <ion-item>
                  <ion-label style="font-size: 20px;  font-family: DDC_Uchen;"> བཀའ་དྲིན་ཆེ</ion-label>
                  <ion-radio slot="start" value="ས" ></ion-radio>
                </ion-item>
              </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་གཟུགས་བཟང་པོ</ion-label>
                <ion-radio slot="start" value="ང" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བྱོན་པ་ལེགས་སོ</ion-label>
                <ion-radio slot="start" value="ཀ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
              <ion-item>
                <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བཀྲིས་བདེ་ལེགས</ion-label>
                <ion-radio slot="start" value="ལ" ></ion-radio>
              </ion-item>
            </ion-card>
            </ion-radio-group>
          </ion-list>
          <ion-button (click)="goToSlide6()" shape="round">Confirm</ion-button>
        </ion-grid>
      </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༨</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་གཞི་རྟེན་བྱ་ཚིག་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q8</ion-card-header>
              <ion-card-content style="color: white;">Guess the greeting word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="welcome()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;"> བཀའ་དྲིན་ཆེ</ion-label>
                <ion-radio slot="start" value="པ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་གཟུགས་བཟང་པོ</ion-label>
              <ion-radio slot="start" value="ང" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བྱོན་པ་ལེགས་སོ</ion-label>
              <ion-radio slot="start" value="ཆ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བཀྲིས་བདེ་ལེགས</ion-label>
              <ion-radio slot="start" value="ལ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide7()" shape="round">Confirm</ion-button>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༩</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་གཞི་རྟེན་བྱ་ཚིག་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q9</ion-card-header>
              <ion-card-content style="color: white;">Guess the greeting word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="greeting()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;"> བཀའ་དྲིན་ཆེ</ion-label>
                <ion-radio slot="start" value="པ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་གཟུགས་བཟང་པོ</ion-label>
              <ion-radio slot="start" value="ཚ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བྱོན་པ་ལེགས་སོ</ion-label>
              <ion-radio slot="start" value="ཀ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བཀྲིས་བདེ་ལེགས</ion-label>
              <ion-radio slot="start" value="ལ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide8()" shape="round">Confirm</ion-button>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card style="background-color: rgba(251,0,0,0.57)">
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px;font-family: DDC_Uchen">༡༠</ion-card-header>
              <ion-card-content style="color: white;font-family: DDC_Uchen">འོག་ལུ་བཀལ་ཡོད་མི་གཞི་རྟེན་བྱ་ཚིག་ངོས་འཛིན་འབད།</ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-header style="color: white;font-weight: bold;font-size: 17px">Q10</ion-card-header>
              <ion-card-content style="color: white;">Guess the greeting word based on the sound you hear below. </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-icon (click)="wish()" name="volume-high-outline" style="font-size: 30px;color:red;border: 1px solid red; border-radius: 100%;padding:8px"></ion-icon>

        <ion-list lines="none">
          <ion-radio-group [(ngModel)]="answer">
            <ion-card>
              <ion-item>
                <ion-label style="font-size: 20px;  font-family: DDC_Uchen;"> བཀའ་དྲིན་ཆེ</ion-label>
                <ion-radio slot="start" value="པ" ></ion-radio>
              </ion-item>
            </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">སྐུ་གཟུགས་བཟང་པོ</ion-label>
              <ion-radio slot="start" value="ང" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བྱོན་པ་ལེགས་སོ</ion-label>
              <ion-radio slot="start" value="ཀ" ></ion-radio>
            </ion-item>
          </ion-card><ion-card>
            <ion-item>
              <ion-label style="  font-size: 20px;font-family: DDC_Uchen;">བཀྲིས་བདེ་ལེགས</ion-label>
              <ion-radio slot="start" value="ཟ" ></ion-radio>
            </ion-item>
          </ion-card>
          </ion-radio-group>
        </ion-list>
        <ion-button (click)="goToSlide9()" shape="round">Finish</ion-button>
      </ion-grid>
    </ion-slide>
    </ion-slides>
  </div>
</ion-content>
