<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">སེམས་ཅན་སྣ་ཚོགས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/ant.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
        
          <ion-row>
            <ion-col>
              <p>གྱོག་མོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="ant()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/bees.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སེར་སྦྱངམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="bees()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/crocodile.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཆུ་སྲིན།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="crocodile()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/fish.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཉ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="fish()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/flea.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཀི་ཤིག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="flea()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/frog.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྦལཔ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="frog()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/grasshopper.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཅིའུ་དབ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="grasshopper()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/hippopotamus.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཆུ་ཕག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="hippopotamus()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/house_fly.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྦྱང་ནག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="house_fly()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/lizard.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཙི་ཙི་དམརམོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="lizzard()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/otter.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྲམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="otter()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/rat.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>བྱི་ཙི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rat()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/snake.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྦུལ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="snake()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/squirrel.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཤིང་གེ་ཏ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="squirrel()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/m_animals/image/turtle.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>རིས་སྦལ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="turtle()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

