<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">སྒོ་ནོར་སེམས་ཅན།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/cat.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>

          <ion-row>
            <ion-col>
              <p>བྱི་ལི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="cat()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/dog.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རོ་ཁྱི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="dog()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/buffalo.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མ་ཧེ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="buffalo()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/cow.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="cow()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/goat.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ར།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="goat()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/hen.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བྱམོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="hen()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/horse.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ར།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="horse()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/ox.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གླང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="ox()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/pig.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཕགཔ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="pig()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/rooster.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བྱ་པོད།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rooster()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/sheep.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལུག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="sheep()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/d_animals/image/yak.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གཡག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="yak()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
