<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/phonium"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ག་ལས་འབྱུང་བའི་ཚིག།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/phonetics_pics/moutain.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གངས་རི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="kewa()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/fruits/image/sugar_cane.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གུན་ཆ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="kasha()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/phonetics_pics/sweets.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གུ་རམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="kangtri()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
