<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཚོད་བསྲེ།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/potato.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཀེ་བ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="potato()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/beans.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>སྲནམ་ཅུམ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="beans()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/bitter_gourd.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཁག་ཏེམ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="bitter_gourd()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/broccoli.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>མེ་ཏོག་ཧོན་ཚོད</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="brocooli()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cane.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>སྤ་ཚར</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ལ་ཕུག་དམརཔོ</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cauliflower.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>མེ་ཏོག་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>s
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
