<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཚོད་བསྲེ།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/potato.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཀེ་བ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="potato()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/beans.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>སྲནམ་ཅུམ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="beans()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/bitter_gourd.jpg">

            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཁག་ཏེམ</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="bitter_gourd()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/broccoli.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>མེ་ཏོག་ཧོན་ཚོད</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="brocooli()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cane.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>སྤ་ཚར</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cane()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/carrot.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ལ་ཕུག་དམརཔོ</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="carrot()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cauliflower.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>མེ་ཏོག་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cauliflower()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/cabbage.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདབ་མ་ཀོ་པི</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="cabbage()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/chayote.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཀེ་བ་སྦལ་ཁ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="chayote()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/chilli.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཨེ་མ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="chilli()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/coriander.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འོད་སི།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="coriander()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/damru.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>འདམ་རུ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="damru()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/fern.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ནགས་སྐྱེས།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="fern()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/garlic.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>སྐྱ་སྒོགཔ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="garlic()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/ginger.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ས་སྒ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="ginger()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/lettuce.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཧོ་སྒྱེས་པད་ཚོད།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="lettuce()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/mushroom.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཤ་མུ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="mushroom()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/mustard.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>པད་ཀར།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="mustard()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/olachoto.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཨོ་ལ་མཆོ་ཏོ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="olachoto()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/onion.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>སྒོགཔ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="onion()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/orchid.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཨོ་ལ་ཚལ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="orchid()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/peas.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>བོད་སྲནམ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="peas()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/pumkin.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཀ་ཀུ་རུ།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="pumkin()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/raddish.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ལ་ཕུག།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="raddish()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/spinach.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ཧོན་ཚོད།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="spinach()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/tomato.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>བླམ་བན་ད།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="tomato()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <img src="./assets/vegetables/image/turnip.jpg">
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>གཡུང་རྡོག།</p>
            </ion-col>
          </ion-row>
          <ion-icon (click)="turnip()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
