<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཚོད་བསྲེ།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>Monday</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-card>

          <ion-row>
            <ion-col>
              <p>མིག་དམར</p>
            </ion-col>

          </ion-row>
          <ion-icon name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
