<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">གཟུགས་ཀྱི་ཆ་ཤས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/head.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མགུ་ཏོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="head()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/hair.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སྐྱ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="hair()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/face.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གདོང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="face()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/forehead.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>དཔྱལཝ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="forehead()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/eyelash.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མིག་རྫིམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="eyelash()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/eye.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མིག་ཏོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="eye()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/ear.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རྣམ་ཅོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="ear()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/nose.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལྷ་པ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="nose()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/mouth.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཁ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="mouth()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/teeth.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="teeth()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/tongue.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལྕེ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tongue()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/chin.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མ་མཁལ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="chin()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/nape.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལྟག་གོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="nape()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/hand.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལགཔ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="hand()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/elbow.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཀི་ལི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="elbow()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/palm.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ལག་མཐིལ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="palm()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/finger.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མཛུབ་མོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="finger()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/nail.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སེན་མོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="nail()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/chest.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བྱང་ཁོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="chest()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/stomach.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཕོཝ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="stomach()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/leg.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རྐངམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="leg()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/knee.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>པུས་མོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="knee()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/calf.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བྱིནམ་ཐག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="calf()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/shin.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ངར་གདོང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="shin()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/body_parts/image/heel.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རྟིངམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="heel()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
