<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">མེ་ཏོག་སྣ་ཚོགས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/blue_poppy.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཚེར་སྔོན་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="blue_poppy()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/foxglove.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཆུ་དཀར་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="foxglove()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/holeyhock.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཧ་ལོ་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="holeyhock()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/khadro_meto.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>མཁའ་འགྲོ་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="khadro_meto()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/lotus.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>པདྨ་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="lotus()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/merigold.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སེར་ཤོག་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="merigold()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/rhododendron.jpg">
            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཨེ་ཏོ་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rhododendron()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/sun_flower.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཉིམ་གང་ཤར་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="sun_flower()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/flowers/image/tshelay_jangma.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཚེ་ལེ་སྦྱང་མའི་མེ་ཏོག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tshelay_jangma()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

