<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/explore-container"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">རྗོད་སྒྲ་རིག་པ།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" style="position:relative">
    
    <ion-row>
      <ion-col>
        <ion-card routerLink="/ka">

          <ion-card-content>
            <p >ཀ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/kha">

          <ion-card-content>
            <p >ཁ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/ga">

          <ion-card-content>
            <p >ག།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/nga">

          <ion-card-content>
            <p >ང་།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/cha">

          <ion-card-content>
            <p >ཅ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/chha">

          <ion-card-content>
            <p >ཆ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/ja">

          <ion-card-content>
            <p >ཇ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/nya">

          <ion-card-content>
            <p >ཉ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/ta">

          <ion-card-content>
            <p >ཏ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/tha">

          <ion-card-content>
            <p >ཐ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/dha">

          <ion-card-content>
            <p >ད།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/na">

          <ion-card-content>
            <p >ན།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
    

    <ion-row>
      <ion-col>
        <ion-card routerLink="/pa">

          <ion-card-content>
            <p >པ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/pha">

          <ion-card-content>
            <p >ཕ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/ba">

          <ion-card-content>
            <p >བ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/ma">

          <ion-card-content>
            <p >མ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/tsa">

          <ion-card-content>
            <p >ཙ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/tsha">

          <ion-card-content>
            <p >ཚ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/dza">

          <ion-card-content>
            <p >ཛ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/wa">

          <ion-card-content>
            <p >ཝ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/zha">

          <ion-card-content>
            <p >ཞ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col>
        <ion-card routerLink="/za">

          <ion-card-content>
            <p >ཟ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/yaah">

          <ion-card-content>
            <p >འ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/ya">

          <ion-card-content>
            <p >ཡ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/ra">

          <ion-card-content>
            <p >ར།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/la">

          <ion-card-content>
            <p >ལ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/sha">

          <ion-card-content>
            <p >ཤ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col>
        <ion-card routerLink="/sa">

          <ion-card-content>
            <p >ས།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/ha">

          <ion-card-content>
            <p >ཧ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/aah">

          <ion-card-content>
            <p >ཨ།</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
