<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">མགོ་ཅན་གསུམ།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" style="position:relative">
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ཀ།</p>
          <a  routerLink="/ra-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ཁ།</p>
          <a  routerLink="/ra-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ག།</p>
          <a  routerLink="/ra-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ང་།</p>
          <a  routerLink="/ra-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <p class="big">ར་མགོ་བཅུ་གཉིས།</p>
          <a  routerLink="/ra-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ལ་མགོ་བཅུ་།</p>
          <ion-icon  (click)="laGo()"name="volume-high-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a  routerLink="/la-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card>
          <p class="big">ས་མགོ་བཅུ་གཅིག།</p>
          <ion-icon  (click)="saGo()"name="volume-high-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>
          <a  routerLink="/sa-go" style="text-decoration: none"><ion-icon name="book-outline" style="margin-right:10px;margin-bottom:10px;;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px">ལྷབ་།</ion-icon></a>
        </ion-card>
      </ion-col>

    </ion-row>
  </div>
</ion-content>
