<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'DDC_Uchen';font-size: 20px" size="small">ཨ་ལོའི་དོན་ལུ་རྫོང་ཁ།

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >

      <ion-card-header>
        <ion-card-title>
          <ion-img src="./assets/logo.png">
          </ion-img>
        </ion-card-title>
        <ion-card-subtitle style="font-family: DDC_Uchen;font-size: 20px">
          ཨ་ལོའི་དོན་ལུ་རྫོང་ཁ།
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" fill="solid" shape="round" color="primary" routerLink="/tabs" >
          <ion-icon name="book"></ion-icon> &nbsp;Learn Dzongkha
        </ion-button>
        <br>
        <ion-button expand="block" fill="solid" shape="round" color="danger" routerLink="/tabs/tab2">
          <ion-icon name="pencil"></ion-icon> &nbsp;Take Quiz
        </ion-button>
      </ion-card-content>
    <hr>
    <div class="instructions">
      <a routerLink="/instructions" style="text-decoration: none">
        <p style="color: #1e90ff">App Instructions</p>
        <ion-icon name="chevron-forward-circle" style="color: dodgerblue;font-size: 30px"></ion-icon>
      </a>
    </div>


  </div>
</ion-content>
