<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">ཐབ་ཆས་སྣ་ཚོགས།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/bowl.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
        
          <ion-row>
            <ion-col>
              <p>ཟངས་གཞོང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="bowl()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/chopping_board.jpg">
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཨེན་ཙི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="chopping_board()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/container.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>པོག་ཏོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="container()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/cup.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཕོརཔ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="cup()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/curry_cooker.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཚོད་རྫ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="curry_cooker()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/flask.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཇ་དམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="flask()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/fork.jpg">
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཀང་ཊ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="fork()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/knife.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཚོད་གྱི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="knife()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/laddle.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ལྕགས་གཟར།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="laddle()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/lid.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཁབ་ཏོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="lid()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/morter.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཙི་ཀུ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="morter()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/oven.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཐབ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="oven()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/plate.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཐ་ལི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="plate()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/pot.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>རྫམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="pot()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/pots.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>རྡིག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="pots()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/rice_cooker.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ལྟོ་རྫ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rice_cooker()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/rolling_pin.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>སྒྲིལ་ཤིང།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rolling_pin()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/spoon.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཐུརམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="spoon()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/table_mat.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>རྫ་གདན།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="table_mat()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/tea_sifter.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཇ་བཙག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tea_sifter()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/tea_whisk.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཇ་ཁྲུག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tea_whisk()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/tongs.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>འཛིནམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tongs()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/tray.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>ཤིང་ཀྲོ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tray()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          
          <ion-row>
            <ion-col>
              <img src="./assets/utensils/image/zancha.jpg">
              
            </ion-col>

          </ion-row>

        </ion-card>
        
        <ion-card>
          

          <ion-row>
            <ion-col>
              <p>གཟན་སྐྱ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="zancha()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

