<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">དབྱངས་བཞི།</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ི</p>
            </ion-col>

          </ion-row>

        </ion-card>

        <ion-icon (click) = 'geKu()' name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/vowels/video/vowel_e.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ུ</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon (click) = 'zhabZhu()' name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/vowels/video/vowel_u.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>

      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ེ</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon (click) = 'drenBo()' name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/vowels/video/vowel_i.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <p>ོ</p>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-icon (click) = 'naro()' name="volume-high-outline" style="background-color:dodgerblue;font-size: 30px;color: white;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        <ion-card>
          <ion-row>
            <ion-col>
              <video width="auto" height="auto" loop autoplay>
                <source src="./assets/vowels/video/vowel_o.mp4" type="video/mp4">
              </video>
            </ion-col>

          </ion-row>

        </ion-card>
        <ion-button expand="block" color="success" routerLink="/level-one">Attempt level one quiz</ion-button>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
