<ion-header [translucent]="true">
  <ion-toolbar style="background-color: white">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-size: 30px" size="small">
      དབྱངས་ བཞི།
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-grid>
      <ion-card>
        <ion-slide>
          <ion-row>
            <ion-col>
              <p>ི</p>
            </ion-col>
          </ion-row>
        </ion-slide>
        
      </ion-card>
    </ion-grid>
  </ion-slides>
</ion-content>

<ion-content>
  <ion-slides>
    <ion-grid>
      <ion-card>
        <ion-slide>
          <ion-row>
            <ion-col>
              <p>ུ</p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-card>
    </ion-grid>
  </ion-slides>
</ion-content>

<ion-content>
  <ion-slides>
    <ion-grid>
      <ion-card>
        <ion-slide>
          <ion-row>
            <ion-col>
              <p>ེ</p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-card>
    </ion-grid>
  </ion-slides>
</ion-content>

<ion-content>
  <ion-slides>
    <ion-grid>
      <ion-card>
        <ion-slide>
          <ion-row>
            <ion-col>
              <p>ོ</p>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-card>
    </ion-grid>
  </ion-slides>
</ion-content>