<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:dodgerblue;font-family: DDC_Uchen" size="medium">རི་དྭགས་སེམས་ཅན།</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides >
    <ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/barking_deer.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>

          <ion-row>
            <ion-col>
              <p>ཀ་ཤ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="barking_deer()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/bear.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>དོམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="bear()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/boar.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རི་ཕག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="boar()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/deer.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཤཝ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="deer()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/elephant.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གླངམོ་ཆེ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="elephant()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/fox.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>འམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="fox()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/ibex.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>བྱག་ར།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="ibex()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/leopard.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གཟིག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="leopard()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/lion.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སེང་གེ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="lion()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/monkey.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སྤྱ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="monkey()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/musk_deer.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>གླ་ཅུམ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="musk_deer()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/rabbit.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>རི་བོང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rabbit()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/red_panda.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ཧིག་མ་དོམ་ཅུང་།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="red_panda()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/rhino.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>ནོརབུ་བསི་ལི།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="rhino()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/tiger.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>སྟག།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="tiger()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide><ion-slide>
      <ion-grid>
        <ion-card>

          <ion-row>
            <ion-col>
              <img src="./assets/w_animals/image/wild_dog.jpg">

            </ion-col>

          </ion-row>

        </ion-card>

        <ion-card>


          <ion-row>
            <ion-col>
              <p>འཕརཝ།</p>
            </ion-col>

          </ion-row>
          <ion-icon (click)="wild_dog()" name="volume-high-outline" style="margin-bottom:10px;font-size: 20px;color: dodgerblue;border: 1px solid dodgerblue; border-radius: 100%;padding:8px"></ion-icon>

        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
